.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 1rem 1.5rem;
}

.Trigger {
  /* all: unset; */
  font-family: var(--font-general-sans);
  font-weight: 400;
  padding: 1.2rem 0.6rem;
  border-radius: 2rem;
  background-color: var(--secondary);
  cursor: pointer;
  &:focus {
    box-shadow: 0 0 0 2px var(--color-stone-200);
  }
  &:hover {
    background-color: var(--color-emerald-600);
    color: var(--color-background);
  }
}
