@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1600,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|3xs-2xs|3xs-xs|3xs-s|2xs-xs|2xs-s|2xs-m|xs-s|xs-m|xs-l|s-m|s-l|s-xl|m-l|m-xl|m-2xl|l-xl|l-2xl|l-3xl|xl-2xl|xl-3xl|2xl-3xl&g=s,l,xl,12 */
  /* Step -2: 11.1111px → 12.3812px */
  --step--2: clamp(0.6944rem, 0.6746rem + 0.0992vw, 0.7738rem);
  /* Step -1: 13.3333px → 16.5041px */
  --step--1: clamp(0.8333rem, 0.7838rem + 0.2477vw, 1.0315rem);
  /* Step 0: 16px → 22px */
  --step-0: clamp(1rem, 0.9063rem + 0.4688vw, 1.375rem);
  /* Step 1: 19.2px → 29.326px */
  --step-1: clamp(1.2rem, 1.0418rem + 0.7911vw, 1.8329rem);
  /* Step 2: 23.04px → 39.0916px */
  --step-2: clamp(1.44rem, 1.1892rem + 1.254vw, 2.4432rem);
  /* Step 3: 27.648px → 52.109px */
  --step-3: clamp(1.728rem, 1.3458rem + 1.911vw, 3.2568rem);
  /* Step 4: 33.1776px → 69.4614px */
  --step-4: clamp(2.0736rem, 1.5067rem + 2.8347vw, 4.3413rem);
  /* Step 5: 39.8131px → 92.592px */
  --step-5: clamp(2.4883rem, 1.6637rem + 4.1233vw, 5.787rem);
  /* Step 6: 47.7757px → 123.4251px */
  --step-6: clamp(2.986rem, 1.804rem + 5.9101vw, 7.7141rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1600,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7,s-l|3xs-2xs|3xs-xs|3xs-s|2xs-xs|2xs-s|2xs-m|xs-s|xs-m|xs-l|s-m|s-l|s-xl|m-l|m-xl|m-2xl|l-xl|l-2xl|l-3xl|xl-2xl|xl-3xl|2xl-3xl|2xl-4xl|l-3xl|l-4xl|xl-4xl&g=s,l,xl,12 */
  /* Space 3xs: 4px → 6px */
  --space-3xs: clamp(0.25rem, 0.2188rem + 0.1563vw, 0.375rem);
  /* Space 2xs: 8px → 11px */
  --space-2xs: clamp(0.5rem, 0.4531rem + 0.2344vw, 0.6875rem);
  /* Space xs: 12px → 17px */
  --space-xs: clamp(0.75rem, 0.6719rem + 0.3906vw, 1.0625rem);
  /* Space s: 16px → 22px */
  --space-s: clamp(1rem, 0.9063rem + 0.4688vw, 1.375rem);
  /* Space m: 24px → 33px */
  --space-m: clamp(1.5rem, 1.3594rem + 0.7031vw, 2.0625rem);
  /* Space l: 32px → 44px */
  --space-l: clamp(2rem, 1.8125rem + 0.9375vw, 2.75rem);
  /* Space xl: 48px → 66px */
  --space-xl: clamp(3rem, 2.7188rem + 1.4063vw, 4.125rem);
  /* Space 2xl: 64px → 88px */
  --space-2xl: clamp(4rem, 3.625rem + 1.875vw, 5.5rem);
  /* Space 3xl: 96px → 132px */
  --space-3xl: clamp(6rem, 5.4375rem + 2.8125vw, 8.25rem);
  /* Space 4xl: 112px → 154px */
  --space-4xl: clamp(7rem, 6.3438rem + 3.2813vw, 9.625rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 11px */
  --space-3xs-2xs: clamp(0.25rem, 0.1406rem + 0.5469vw, 0.6875rem);
  /* Space 2xs-xs: 8px → 17px */
  --space-2xs-xs: clamp(0.5rem, 0.3594rem + 0.7031vw, 1.0625rem);
  /* Space xs-s: 12px → 22px */
  --space-xs-s: clamp(0.75rem, 0.5938rem + 0.7813vw, 1.375rem);
  /* Space s-m: 16px → 33px */
  --space-s-m: clamp(1rem, 0.7344rem + 1.3281vw, 2.0625rem);
  /* Space m-l: 24px → 44px */
  --space-m-l: clamp(1.5rem, 1.1875rem + 1.5625vw, 2.75rem);
  /* Space l-xl: 32px → 66px */
  --space-l-xl: clamp(2rem, 1.4688rem + 2.6563vw, 4.125rem);
  /* Space xl-2xl: 48px → 88px */
  --space-xl-2xl: clamp(3rem, 2.375rem + 3.125vw, 5.5rem);
  /* Space 2xl-3xl: 64px → 132px */
  --space-2xl-3xl: clamp(4rem, 2.9375rem + 5.3125vw, 8.25rem);
  /* Space 3xl-4xl: 96px → 154px */
  --space-3xl-4xl: clamp(6rem, 5.0938rem + 4.5313vw, 9.625rem);

  /* Custom pairs */
  /* Space s-l: 16px → 44px */
  --space-s-l: clamp(1rem, 0.5625rem + 2.1875vw, 2.75rem);
  /* Space 3xs-2xs: 4px → 11px */
  --space-3xs-2xs: clamp(0.25rem, 0.1406rem + 0.5469vw, 0.6875rem);
  /* Space 3xs-xs: 4px → 17px */
  --space-3xs-xs: clamp(0.25rem, 0.0469rem + 1.0156vw, 1.0625rem);
  /* Space 3xs-s: 4px → 22px */
  --space-3xs-s: clamp(0.25rem, -0.0312rem + 1.4063vw, 1.375rem);
  /* Space 2xs-xs: 8px → 17px */
  --space-2xs-xs: clamp(0.5rem, 0.3594rem + 0.7031vw, 1.0625rem);
  /* Space 2xs-s: 8px → 22px */
  --space-2xs-s: clamp(0.5rem, 0.2813rem + 1.0938vw, 1.375rem);
  /* Space 2xs-m: 8px → 33px */
  --space-2xs-m: clamp(0.5rem, 0.1094rem + 1.9531vw, 2.0625rem);
  /* Space xs-s: 12px → 22px */
  --space-xs-s: clamp(0.75rem, 0.5938rem + 0.7813vw, 1.375rem);
  /* Space xs-m: 12px → 33px */
  --space-xs-m: clamp(0.75rem, 0.4219rem + 1.6406vw, 2.0625rem);
  /* Space xs-l: 12px → 44px */
  --space-xs-l: clamp(0.75rem, 0.25rem + 2.5vw, 2.75rem);
  /* Space s-m: 16px → 33px */
  --space-s-m: clamp(1rem, 0.7344rem + 1.3281vw, 2.0625rem);
  /* Space s-l: 16px → 44px */
  --space-s-l: clamp(1rem, 0.5625rem + 2.1875vw, 2.75rem);
  /* Space s-xl: 16px → 66px */
  --space-s-xl: clamp(1rem, 0.2188rem + 3.9063vw, 4.125rem);
  /* Space m-l: 24px → 44px */
  --space-m-l: clamp(1.5rem, 1.1875rem + 1.5625vw, 2.75rem);
  /* Space m-xl: 24px → 66px */
  --space-m-xl: clamp(1.5rem, 0.8438rem + 3.2813vw, 4.125rem);
  /* Space m-2xl: 24px → 88px */
  --space-m-2xl: clamp(1.5rem, 0.5rem + 5vw, 5.5rem);
  /* Space l-xl: 32px → 66px */
  --space-l-xl: clamp(2rem, 1.4688rem + 2.6563vw, 4.125rem);
  /* Space l-2xl: 32px → 88px */
  --space-l-2xl: clamp(2rem, 1.125rem + 4.375vw, 5.5rem);
  /* Space l-3xl: 32px → 132px */
  --space-l-3xl: clamp(2rem, 0.4375rem + 7.8125vw, 8.25rem);
  /* Space xl-2xl: 48px → 88px */
  --space-xl-2xl: clamp(3rem, 2.375rem + 3.125vw, 5.5rem);
  /* Space xl-3xl: 48px → 132px */
  --space-xl-3xl: clamp(3rem, 1.6875rem + 6.5625vw, 8.25rem);
  /* Space 2xl-3xl: 64px → 132px */
  --space-2xl-3xl: clamp(4rem, 2.9375rem + 5.3125vw, 8.25rem);
  /* Space 2xl-4xl: 64px → 154px */
  --space-2xl-4xl: clamp(4rem, 2.5938rem + 7.0313vw, 9.625rem);
  /* Space l-3xl: 32px → 132px */
  --space-l-3xl: clamp(2rem, 0.4375rem + 7.8125vw, 8.25rem);
  /* Space l-4xl: 32px → 154px */
  --space-l-4xl: clamp(2rem, 0.0938rem + 9.5313vw, 9.625rem);
  /* Space xl-4xl: 48px → 154px */
  --space-xl-4xl: clamp(3rem, 1.3438rem + 8.2813vw, 9.625rem);

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  --font-sans: var(--font-general-sans);
  --font-serif: var(--font-source-serif);
  --font-mono: var(--font-jetbrains-mono);

  --ease-in-out-quart: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-general-sans);
  --font-serif: var(--font-source-serif);
  --font-mono: var(--font-jetbrains-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@custom-variant dark (&:where(.dark, .dark *));

/* TODO: modify accent in the html */
@layer base {
  html {
    @apply scroll-smooth;
  }

  .h0 {
    font-size: var(--space-l-3xl);
    font-family: var(--font-general-sans);
    font-weight: 700;
  }

  h1,
  .h1 {
    @apply font-sans font-bold;
    font-size: var(--step-5);
  }

  h2,
  .h2 {
    @apply font-sans font-medium;
    font-size: var(--step-4);
  }

  h3,
  .h3 {
    @apply font-sans font-medium;
    font-size: var(--step-3);
  }

  h4,
  .h4 {
    @apply font-sans font-medium;
    font-size: var(--step-2);
  }

  h5,
  .h5 {
    @apply font-sans font-medium;
    font-size: var(--step-1);
  }

  body,
  .p {
    @apply font-serif font-light;
    font-size: var(--step-0);
  }

  small,
  .small {
    @apply font-serif font-light;
    font-size: var(--step--1);
  }

  .xsmall {
    @apply font-serif font-light;
    font-size: var(--step--2);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}

@layer layout {
  .page-layout > *,
  .full-width > * {
    grid-column: content;
  }
  .page-layout,
  .full-width {
    --minimum-content-padding: 2rem;

    /** TRACK WIDTHS **/
    --full-max-width: 1fr;
    --popout-max-width: 1600px;
    --content-max-width: 1280px;
    --inset-content-max-width: 960px;
    --narrow-max-width: 640px;

    /** TRACK SIZES **/
    --full: minmax(var(--minimum-content-padding), 1fr);
    --popout: minmax(0, calc((var(--popout-max-width) - var(--content-max-width)) * 0.5));
    --content: minmax(0, calc((var(--content-max-width) - var(--inset-content-max-width)) * 0.5));
    --inset-content: minmax(
      0,
      calc((var(--inset-content-max-width) - var(--narrow-max-width)) * 0.5)
    );
    --narrow: min(var(--narrow-max-width), 100% - var(--minimum-content-padding) * 2);

    display: grid;
    grid-template-columns:
      [full-start]
      var(--full)
      [popout-start]
      var(--popout)
      [content-start]
      var(--content)
      [inset-content-start]
      var(--inset-content)
      [narrow-start]
      var(--narrow)
      [narrow-end]
      var(--inset-content)
      [inset-content-end]
      var(--content)
      [content-end]
      var(--popout)
      [popout-end]
      var(--full)
      [full-end];
  }

  /** CLASSES **/
  .full {
    grid-column: full;
  }
  .full-start {
    grid-column-start: full-start;
  }
  .full-end {
    grid-column-end: full-end;
  }

  .popout {
    grid-column: popout;
  }
  .popout-start {
    grid-column-start: popout-start;
  }
  .popout-end {
    grid-column-end: popout-end;
  }

  .content {
    grid-column: content;
  }
  .content-start {
    grid-column-start: content-start;
  }
  .content-end {
    grid-column-end: content-end;
  }

  .inset-content {
    grid-column: inset-content;
  }
  .inset-content-start {
    grid-column-start: inset-content-start;
  }
  .inset-content-end {
    grid-column-end: inset-content-end;
  }

  .narrow {
    grid-column: narrow;
  }
  .narrow-start {
    grid-column-start: narrow-start;
  }
  .narrow-end {
    grid-column-end: narrow-end;
  }

  .full-width {
    grid-column: full;
  }
  .full-content,
  .full-content-nopad {
    grid-column: full;
  }
  .full-content {
    padding-inline: var(--minimum-content-padding);
  }
}

@layer reset {
  /* Piccalilli CSS Reset https://piccalil.li/blog/a-more-modern-css-reset/ */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    interpolate-size: allow-keywords;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
    font-family: var(--font-general-sans);
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 32px;
    scroll-margin-block: 5rlh;
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
    max-width: 65ch;
    font-family: var(--font-source-serif);
  }

  header,
  footer,
  main,
  section,
  article {
    container-type: inline-size;
  }

  td,
  math,
  time[datetime*=':'] {
    font-variant-numeric: tabular-nums lining-nums;
  }

  table {
    border-collapse: collapse;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
