.link {
  width: 10ch;
}

.symbol {
  display: inline-block;
  width: 1ch;
  text-align: center;
  margin-right: 0.5ch;
  color: var(--color-emerald-400);
}

.label {
  width: 8ch;
  min-height: 1.8rem;
  display: inline-block;
}
